*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

.container {
  display: flex;
  gap: 2px;
}

.bar {
  display: flex;
  gap: 2px;
}

.quit {
  background: red;
}

.box {
  height: 520px;
  width: 1340px;
  border: 5px solid rgb(34, 10, 100);
  display: flex;
  justify-content: center;
}

.box-container {
  display: flex;
  justify-content: center;
}

.sort {
  color: rgb(11, 240, 248);
  background: rgb(177, 60, 255);
  font-size: 20px;
  width: 100px;
  height: 50px;
}

.control {
  display: flex;
  justify-content: center;
}

.sorting {
  display: flex;
  justify-content: center;
}

button {
  margin: 20px;
  background: blue;
  color: white;
  height: 80px;
  width: 150px;
  font-size: 20px;
}

.false {
  pointer-events: none;
  filter: grayscale(66%);
  color: grey;
}

.range-slider {
  text-align: center;
  color: rgb(11, 240, 248);
  font-size: 30px;
}

.slider {
  width: 400px;
}

.input_sliders {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  border: rgb(8, 0, 255) 3px solid;
}

.input_sliders h3 {
  color: rgb(255, 0, 225);
}

.inputs-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
